@model Clinic_System.BLL.ModelVM.ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ChangePassword" asp-controller="Account">
    <section class="vh-60 " style="padding:6%;">
        <div class="container-fluid h-custom">
            <div class=" d-flex justify-content-center h-100" ">
                <div class="col-md-9 col-lg-6 col-xl-5" style="position:relative;width:40%;">
                    <img style="width:100%;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-action="ChangePassword" asp-controller="Account">
           

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" asp-for="CurrentPassword" id="form3Example3" class="form-control form-control-lg"
                                   placeholder="Enter a valid User Name" />
                            <label class="form-label" asp-for="CurrentPassword" for="form3Example3">Current Password</label>
                            <span asp-validation-for="CurrentPassword"></span>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" asp-for="NewPassword" id="form3Example4" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                            <label class="form-label" asp-for="NewPassword" for="form3Example4">New Password</label>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                              <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" asp-for="ConfirmPassword" id="form3Example4" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                            <label class="form-label" asp-for="ConfirmPassword" for="form3Example4">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>

                   

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Save
                            </button>
                      
                        </div>

                    </form>
                </div>
            </div>
        </div>
     


    </section>
</form>

</div>
<script>
    function togglePassword(fieldId, iconId) {
        var passwordField = document.getElementById(fieldId);
        var icon = document.getElementById(iconId);

        // Toggle the type attribute
        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }

</script>