@model Clinic_System.BLL.ModelVM.ForgetPasswordMV
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgetPassword</h1>
 <div class="row">
     <div class="col-md-4">
        @if (Model != null && Model.EmailSent ==true)
         {
             <div class="alert alert-success" role="alert">
                <p>We have sent an </p>
            </div>

         }
        <form asp-action="ForgetPassword" asp-controller="Account">
            <div class="d-flex flex-row align-items-center mb-2">
                <i style="position:relative;top:15px;" class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <label asp-for="Email" class="form-label">Your Email</label>
                    <input asp-for="Email" type="email" id="form3Example3c" class="form-control" />

                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-danger">Create</button>
     </form>
 </div>

