@model Clinic_System.BLL.ModelVM.RegisterionVM
@{
    ViewData["Title"] = "Registerion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="vh-100" style="width:100%; background: linear-gradient(to right, rgba(239,246,254,255)50%, #4da7f9 50%);">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;opacity: 0.8;height: 85vh;">
                        <div class="card-body p-md-1">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4" style="padding-bottom: 45px;">Sign up</p>

                                    <form class="mx-1 mx-md-4" asp-action="Registerion" asp-controller="Account">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="d-flex flex-row align-items-center mb-2">

                                            <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-right: 10px;">
                                                <label asp-for="FirstName" class="form-label" for="form3Example1c"> <i class="fas fa-user  fa-fw"></i> First Name</label>
                                                <input asp-for="FirstName" type="text" id="form3Example1c" class="form-control" />
                                                <span class="text-danger" asp-validation-for="FirstName"></span>

                                            </div>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-right: 10px;">
                                                <label asp-for="LastName" class="form-label" for="form3Example1c"> <i class="fas fa-user  fa-fw"></i> Last Name</label>
                                                <input asp-for="LastName" type="text" id="form3Example1c" class="form-control" />
                                                <span class="text-danger" asp-validation-for="LastName"></span>

                                            </div>

                                            <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-right: 10px;">
                                                <label asp-for="UserName" class="form-label" for="form3Example1c"> <i class="fas fa-user  fa-fw"></i> User Name</label>
                                                <input asp-for="UserName" type="text" id="form3Example1c" class="form-control" />
                                                <span class="text-danger" asp-validation-for="UserName"></span>

                                            </div>


                                            <div class="d-flex flex-row align-items-center mb-2" style="position: relative;bottom: -10px;">

                                                <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-left: 10px;">
                                                    <label asp-for="Email" class="form-label" for="form3Example3c"> <i class="fas fa-envelope  fa-fw"></i> Your Email</label>
                                                    <input type="email" asp-for="Email" id="form3Example3c" class="form-control" />
                                                    <span class="text-danger" asp-validation-for="Email"></span>

                                                </div>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-left: 10px;">
                                                    <label asp-for="Address" class="form-label" for="form3Example3c"> <i class="fas fa-envelope  fa-fw"></i> Address</label>
                                                    <input type="text" asp-for="Address" id="form3Example3c" class="form-control" />
                                                    <span class="text-danger" asp-validation-for="Address"></span>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-2">

                                            <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-right: 10px;">
                                                <label asp-for="PhoneNumber" class="form-label" for="form3Example1c"> <i class="fa fa-phone" aria-hidden="true"></i> phone Number</label>
                                                <input asp-for="PhoneNumber" type="tel" id="form3Example1c" class="form-control" />
                                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                                            </div>


                                            <div class="d-flex flex-row align-items-center mb-2" style="position: relative;bottom: -10px;">

                                                <div data-mdb-input-init class="form-outline flex-fill mb-0" style="padding-left: 10px;">
                                                    <label asp-for="Age" class="form-label" for="form3Example3c"> <i class="fa fa-calendar" aria-hidden="true"></i> Your Age </label>
                                                    <input asp-for="Age" type="number" id="form3Example3c" class="form-control" />
                                                    <span class="text-danger" asp-validation-for="Age"></span>

                                                </div>
                                            </div>
                                        </div>




                                        <div class="d-flex flex-row align-items-center mb-4">

                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="Password" class="form-label" for="password"> <i class="fas fa-lock fa-lg me-3 fa-fw"></i> Password</label>
                                                <div class="input-group">
                                                    <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter password">
                                                    <div class="input-group-append">
                                                        <span style="padding-bottom: 15px; align-content: center;" class="input-group-text" onclick="togglePassword('password', 'togglePasswordIcon')">
                                                            <i class="fa fa-eye" id="togglePasswordIcon" style="align-items: center;"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="text-danger" asp-validation-for="Password"></span>

                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">

                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="ConfirmPassword" class="form-label" for="confirmPassword"> <i class="fas fa-key fa-lg me-3 fa-fw"></i> Repeat your password</label>
                                                <div class="input-group">
                                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Enter password">
                                                    <div class="input-group-append">
                                                        <span style="padding-bottom: 15px; align-content: center;" class="input-group-text" onclick="togglePassword('confirmPassword', 'toggleConfirmPasswordIcon')">
                                                            <i class="fa fa-eye" id="toggleConfirmPasswordIcon" style="align-items: center;"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                        </div>


                                        <div class="mx-4 mb-3 mb-lg-4">
                                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button><br>
                                            <p class="small fw-bold mt-2 pt-1 mb-0"></p>
                                            Are aready a member? <a asp-action="Login" asp-controller="Account" style="color: #ff238d;">Login</a>
                                            </p>
                                        </div>

                                    </form>

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="~/Systembackground/cc.gif"
                                         class="img-fluid" alt="Sample image" style="height:70%;position: relative; right: -15%;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function togglePassword(fieldId, iconId) {
            var passwordField = document.getElementById(fieldId);
            var icon = document.getElementById(iconId);

            // Toggle the type attribute
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

    </script>
</body>
</html>